$white : white;
$dodger-blue : #4387f6;
$jade : #00b67b;
$hoki : #67809f;
$wisteria : #926fb1;
$valencia : #d64541;
$radical-red : #f62459;

$primary-color : #333645;
$secondary-color : $white;

$first-news : $hoki ;
$second-news: $wisteria;
$third-news: $valencia;