@media screen and (max-width:766px){
    .logo-row{
        &>*{
            display: none;
        }
    }
}
@media screen and (min-width:767px){    
    .logo-row{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
        &>.logo-images{
            position: relative;
            display: inline-block;
            width: calc(20% );
            & > .beat-img{
                height: 100px;
                width: 100px;
                margin-left: 30%;
            }
            & > .logo-description{
                display: none;
                padding: 10px;
                width: 200px;
                height: 175px;
                position: absolute;
                margin-top: -225px;
                background-color: $primary-color;
                color: white;
                text-align: center;
                & >*{
                    margin: 5px 2px;
                    
                }
                & > p{
                    font-size: 0.75em;
                }
                & > .arrow{
                    &-1{
                        background-color: $primary-color;
                        z-index: -1;
                        height: 50px;
                        width: 50px;
                        margin-top: 55px;
                        margin-left: 75px;
                        transform: rotate(45deg);
                    }
                    &-2{
                        background-color: $primary-color;
                        z-index: -1;
                        height: 50px;
                        width: 50px;
                        margin-top: 20px;
                        margin-left: 75px;
                        transform: rotate(45deg);
                    }
                    &-3{
                        background-color: $primary-color;
                        z-index: -1;
                        height: 50px;
                        width: 50px;
                        margin-top: -10px;
                        margin-left: 75px;
                        transform: rotate(45deg);
                    }
                    
                }
            }
            &:hover div{
                display: block;
            }
            & > img{
                width:95%;
            }

            & .colored{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
            &:hover .colored{
                display: inline;
            }
        }
    }
    .container-sidebar{
        display: none;
    }
    .sidebar-icons{
        display: none;
    }
    .sidebar-navbar{
        display: none;
    }
    .sidebar-contact-us{
        display: none;
    }
    & > .sidebar-headers-navbar {
        background-color: rgba(#000, 0.25);
        border-top: 1px solid black;
        margin: 0;
        padding: 10px;
        
        &:hover{
            background-color: lighten($primary-color, 10%);
        }
        & > a {       
            
            margin-left: 1px;   
            color: white;
            width: 90%;  
            &::before{
                        
                font-size: 16px;
                content: ">> ";
            }
        }    
    } 
}

@media screen and (min-width:767px) and (max-width:992px) {
    .container{
        width: 750px;
    }
}
@media screen and (min-width:992px) and (max-width:1260px) {
    .container{
        width: 970px;
    }
}
@media screen and (min-width:1260px) {
    .container{
        width: 1200px;
    }
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


@font-face {
    font-family: 'poppin';
    src: url('./fonts/poppins.woff2') format('woff2'),
         url('./fonts/poppins.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: "Poppins";
    
}
.container-body{
    height: 100vh;
    width: 100%;
}
.disabled{
    margin-left: -250px;
    scrollbar-width: 5px;
    overflow-y: scroll;
    pointer-events: none;
}

.container-brands{
    overflow: hidden;
    width: 90%;
    margin:10px auto;
}
.brand-images{
    margin: 0 10px;
    width:175px;
    img {
        max-width: 150px;
        height: 50px;
    }
    & > .colored{
        display: none;
        margin-top: -50px;

    }
    
    &:hover .colored{
        display: block;
    }
    
}

input{
    line-height: 2em;
    width:100%;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    color:$primary-color;
}
h3{
    margin-left: 15px;
}
li{
    list-style:none;
}
.center {
    margin-left: 2em;
    margin-right: 2em;
    
}
.view-all{
    text-decoration: none;
    font-size: 2em;
    &:visited{
    text-decoration: none; 
    }
    &:hover{
        text-decoration: underline;
    }
}
a, a:visited{
    text-decoration: none;
    color: $primary-color;

}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 1em;
}
h2{
    font-size: 3em;
}
h4 {
    text-transform: uppercase;
    margin-left: 20px;
}

main,footer,form{
    margin-bottom: 0px;
    margin-top: 0px;
}

#h2-left{
    text-align: left
}

.gap {
    gap: 20px 20px;
}

.start{
    align-self: flex-start;
    margin-right: auto;
}
.end{
    margin-left: auto;
    align-items: flex-end;
    margin-right: 20px;
}
.pushbottom{
    margin-top: auto;
    margin-bottom: 20px;
}
.pushtop{
    margin-top: 0;
    margin-bottom: auto;
}
.header-scroll-down{
    transform: translate3d(0, -100%, 0);
}
.nav-scroll-down{
    transform: translate3d(0, -100%, 0);
}
header.scroll-up{
    top:0px;
    width: 100%;
}
.scroll-up {
    position: fixed;
    top:0;
    width: 100%;
}

.overlay{
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    left:-250px;
    width:100%;
    z-index:9999;
    background-color: rgba(black, 0.6);
    &:hover{
        cursor: pointer;
    }
}





