@media screen and (max-width: 767px) {
    .banner-div{
        text-align: center;
        & > h2{
            margin-top: 10%;
        }
    }
}
@media screen and (min-width: 767px) {
    .banner-div{
        text-align: left;
        & > h2 {
            margin-top: 10%;
            margin-left: 0.9em;
            margin-right: 0.9em;
        }
        & > p{
            margin-left:  2em;
            margin-right:  2em;
        }
        & > button{
            margin-left:  2em;
            margin-right:  2em;
        }
    }
}
.container-banner{
    margin: 0;
    overflow: hidden;
    
}
.banner-div{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: inline-block;
    color: white;
    & > h2,p{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    & > button{
        font-size: 1.25em;
        margin-left:24px;
        padding: 15px;
        width:250px;
    }
    &-1{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-oaVs.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $hoki;
            &:hover{
                background-color:darken($hoki, 10%);
            }
        }
    }
    &-2{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-YqKT.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $hoki;
            &:hover{
                background-color:darken($hoki, 10%);
            }
        }
    }
    &-3{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-Na90.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $dodger-blue;
            &:hover{
                background-color:darken($dodger-blue , 10%);
            }
        }
    }
    &-4{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-3iEf.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $jade;
            &:hover{
                background-color:darken($jade , 10%);
            }
        }
    }
    &-5{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-gKfQ.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $valencia;
            &:hover{
                background-color:darken($valencia , 10%);
            }
        }
    }
    &-6{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-KDXb.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $wisteria;
            &:hover{
                background-color:darken($wisteria , 10%);
            }
        }
    }
    &-7{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-kvtG.png");
        background-repeat: no-repeat;
        & > .btn-banner{
            background-color: $radical-red;
            &:hover{
                background-color:darken($radical-red , 10%);
            }
        }
    }
}.slick-dots li button:before
{
    
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: -50px;
    left: 0;

    width: 20px;
    height: 20px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\f111';
    text-align: center;
    opacity: .25;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    font-size: 16px;
    font-weight: 400;
    font-family: "Font Awesome 6 Free";
    content: '\f192';
    opacity: .75;
    color: white;
}