.cookie-container{
    background-color: rgba(#000000, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99999;
    
    & > .cookie-container-content{
        background-color: white;
        width: 75%;
        max-width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        
        & > h2{
            text-align: left;
            margin: 0;
            padding: 10px;
            font-weight: 100;
            font-size: 1.5em;
        }
        & > p{
            margin-top: auto;
            border-top: lightgrey 1px solid;
            border-bottom: lightgray 1px solid;
            margin-bottom: auto;
            color: grey;
            font-weight:lighter;
            font-size: 1em;
            padding: 10px 5px;
            padding-bottom: 50px;
            & > a {
                color: #000000;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        & > div {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 15px;
            margin: 0;
            font-size: 1.5em;
            & > #Accept-Cookie{
                background-color: $wisteria;
                &:hover{
                    background-color: darken($wisteria, 10%);
                }
            }
            & > .cookie-settings-btn{
                background-color: grey;
                &:hover{
                    background-color: darken(grey, 10%);
                }
            }
            & > * {
                border-radius: 4px;
                padding: 10px;
                margin: 0;
                font-size: 0.7em;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .cookie-container{
        & > .cookie-container-content{
            margin-top: 15vh;
            & > h2 {
                font-size: 2em;
            }
            & > p{
                font-size: 1.15em;
                
            }
            & > div {
                flex-direction: row;
                justify-content: center;
                
                & > *{
                    width: calc(50% - 30px);
                    
                }
            }
        }
    }
    .cookie-settings{
        overflow-x: hidden;
        &>div{
            & > .buttons{
                margin-left: calc(100% - 200px);
                
            }
            &>.detailed-preferences{
                display: none;
            }
        }
        & > .cookie-buttons{
            margin-left: calc(100% - 375px);
        }
    }
}
.cookie-settings{
    display: none;
    
    &>div{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        & > button{
            width: auto;
            padding: 10px;
            margin: 10px 5px;
        }
        &>.detailed-preferences{
            display: none;
        }
    }
}

.cookie-table-row{
    &>.cookie-table-column{
        background-color: lightgrey;
        color: $primary-color;
    }
    &-header{
        &>.cookie-table-column{
            color: white;
            background-color: grey;
        }
    }
}
.cookie-table-column {
    float: left;
    padding: 10px;
    border: 1px solid white;
    height: 50px;
    &-left, &-right{
        width: 25%;
    }
    &-middle{
        width: 40%;
    }
}
.cookie-table-row:after {
    content: "";
    display: table;
    clear: both;
}
.preference-btn{
    background-color:grey;
    &:hover{
        background-color: darken(grey, 10%);
    }
}
.cookie-cancel-btn{
    background-color:grey;
    &:hover{
        background-color: darken(grey, 10%);
    }
}
.cookie-accept-btn{
    background-color: $wisteria;
    &:hover{
        background-color: darken($wisteria, 10%);
    }

}
.cookie-enable-btn{
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: darkgray;
}
.cookie-disable-btn{
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: darkgray;
}
.isactive{
    background-color: $wisteria;
    color: white;
    &:hover{
        background-color: darken($wisteria, 10%);
    }
}
