footer{
    background-color:$primary-color;
    color: $secondary-color;
    margin-top: 0;
}
.footer-container{
    width: 95%;
    margin: 10px auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-link-section, .offices{
    text-align: left;
    & > h4{
        margin-left: 0;
        font-weight: 100;
    }
    &>ul{
        margin-left: 0;
        padding: 0;
        font-size: 0.75em;
        & > li{
            & > * {
                color: white;
            }
        }
    }
}

.copyright{
    width: 100%;
    display: flex;
    border-top: 1px solid white;
    &:first-child{
        justify-self: start;
    }
    &:last-child{
        justify-self: end;
    }
}

.copyright-icons{
    margin-left: auto;
    margin-right: 20px;
    & > *{
        margin: 10px;
        border-radius: 100%;
        padding: 10px;
    }
    & >.fa-facebook{
        &:hover{
            background-color: #3b5998;
        }
    }
    & >.fa-twitter{
        &:hover{
            background-color: #00aced;
        }
    }
    &>.fa-instagram{
        &:hover{
            background-color: #d93175;
        }
    }
    &>.fa-linkedin{
        &:hover{
            background-color: #0077b5;
        }
    }
}
//affects screens that are smaller than 496px
@media screen and (max-width:496px){
    .footer-link-section, .offices{
        width: 65%;
        margin: 10px auto;
    }
}
//affects screens that are larger than 497px smaller than 721px
@media screen and (min-width:497px) and (max-width:721px) {
    .footer-link-section, .offices{
        width: 45%;
        margin: 10px auto;
    }
}
//affects screens that are larger than 722px smaller than 1259px
@media screen and (min-width:722px) and (max-width:1259px){
    .footer-link-section{
        width: 35%;
        
    }
    .offices{
        width: 33%;
        margin: 10px auto;
    }
}
//affects screens that are smaller than 1260px
@media screen and (min-width:1260px){
    .footer-link-section{
        width: calc(20% - 30px);
    }
    .offices{
        width: calc(22% - 30px);
    }

}