.news-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    font-weight: 100;
}
.posted{
    width: 80%;
    margin: 0 auto;
    border-top: solid 1px lightgray;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 10px;
    & img{
        justify-content: center;
        align-self: center;
        padding: 10px;
        height: 50px;
        width: 50px;
    }
    & p {
        font-size: 0.9rem;
        width: calc(100% - 60px);
    }
}
.news-content-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news-content{
    width: 90%;
    margin: auto;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    border: 1px solid #CCC;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column ;
}
.move-up{
    @include move-up();
}
.news-header{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &>h2{
        text-align: left;
        margin-right: auto;
        font-size: 3rem;
    }
    &>a{
        text-align: right;
        margin-left: auto;
    }
}
.news-image{

    & > img{
        width: 100%;
        height: 250px;
        margin-top: -35px;
        z-index: 0;

    }
    & > .news-image-tag{
        font-size: 0.75rem;
        text-align: center;
        margin: 0;
        padding: 5px;
        position: relative;
        width: auto;
        z-index: 50;
        margin-top: 5px;
        margin-left: calc(100% - 100px);
        &-1{
            background-color: $first-news;
            color: white;
        }
        &-2{
            background-color: $second-news;
            color: white;
        }
        &-3{
            background-color: $third-news;
            color: white;
        }
    }
}
.news-item{
    &-1{
        margin-bottom: auto;
        padding: 0 20px;
        &-btn{
            background-color: $first-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            width: 100px;
            border-radius: 4px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$first-news;
    }
    &-2{
        margin-bottom: auto;
        padding: 0 20px;
        &-btn{
            background-color: $second-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            width: 100px;
            border-radius: 4px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$second-news;
    }
    &-3{
        margin-bottom: auto;
        padding: 0 20px;
        &-btn{
            background-color: $third-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            width: 100px;
            border-radius: 4px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color: $third-news
    }
}
.news-info{
    padding: 0 20px;
    color: grey;
}
.news-content-text{
    width: 90% ;
    margin: auto;
    & > .news-info{
        font-size: 0.8rem;
    }
}
.news-footer{
    justify-self: center;
    align-self: center;
    width: 100%;
    padding: 10px;
    & > *{
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width:766px){
    .news-header>a{
        display: none;
    }
}
@media screen and (min-width: 767px) and (max-width:1259px) {
    .news-content-container{
        flex-direction: row;
        width: 100%;
    }
    .news-content-3{
        display: none;
    }
    .news-footer{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .news-footer{
        display: none;
    }
    .news-content-container{
        flex-direction: row;
        width: 100%;
    }
}
