.container-news{
    margin-bottom: 50px;
    flex: 0 0 95%;
    & p{
        margin-left: 15px;
    }
    & > div > a > div {
        box-shadow: 0 0 5px #bebebe;
        max-height:110vh;
        border-radius: 0 0 2% 2%;
        text-align: left;
        flex:0 0 100%;
    }
}
.news-item{
    &-1{
        margin-bottom: auto;
        &-btn{
            background-color: $first-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$first-news;
    }
    &-2{
        margin-bottom: auto;
        &-btn{
            background-color: $second-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$second-news;
    }
    &-3{
        margin-bottom: auto;
        &-btn{
            background-color: $third-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color: $third-news
    }
}

.posted{
    padding-top: 20px;
    border-top: solid 1px grey;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img{
        flex: 0 0 20%;
        justify-content: center;
        align-self: center;
        margin: auto;
        height: 50px;
        width: 50px;
    }
    & p {
        flex: 0 0 70%;
    }
}

.move-up{
    @include move-up();
}
//affect screens smaller than 766px
@media screen and (max-width:766px){
    .container-news{
        display: flex;
        flex-direction: column;
        &>.news-footer{
            justify-content: center;
            text-align: center;
        }
        & > div > a > div {
            & > .images{
                width:100%;
                height:300px;
            }
        }
        &>.news-header>a{
            display: none;
        }
    }
}
//affect screen larger than 767px but smaller than 1259px
@media screen and (min-width:767px) and (max-width:1259px){
    .container-news{
        display: flex;
        flex-direction: column;
        flex: 0 0 95%;
        &>.news-header{
            display: flex;
            align-items: center;
            &>h2{
                text-align: left;
                margin-right: auto;
            }
            &>a{
                text-align: right;
                margin-left: auto;
            }
        }
        & > .container-news-stories {
            display: flex;
            flex-direction: row;
            flex: 0 0 95%;
            & > *{
                & > *>.images{
                    width: 100%;
                    height: 300px
                }
                &>.container-news-1{
                    flex: 0 0 45%;
                    height:100vh;
                }
                &>.container-news-2{
                    flex: 0 0 45%;
                    height:100vh;
                }
                &>.container-news-3{
                    display: none;
                }
            }
        } 
        &>.news-footer{
            display: none;
        }
    }  
}
//afect screens larger than 1260px
@media screen and (min-width:1260px){
    .container-news{
        &>.news-header{
            display: flex;
            align-items: center;
            &>h2{
                text-align: left;
                margin-right: auto;
            }
            &>a{
                text-align: right;
                margin-left: auto;
            }
        }
        & > .container-news-stories {
            display: flex;
            flex-direction: row;
            flex: 0 0 95%;
            & > *{
                display: flex;
                flex: 0 0 32%;
                & > div{
                    display: flex;
                    flex-direction: column;
                    justify-items: space-between;
                    align-items: space-between;
                }
                & > div > .images{
                    width: 100%;
                }
            }
        } 
        &>.news-footer{
            display: none;
        }
    }
}