nav{
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  & *{
      margin: 0;
      padding: 0;
  }
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  &:hover{
      text-decoration: none;
  }
  &:visited{
      color: white;
  }
}

nav ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex: 0 0 14%;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  & ul li a {
      text-decoration: none;
  }
  & ul li a:hover {
      text-decoration: underline;
  }
}
nav> ul{
  background: none;
  display: flex;
  justify-content: space-around;
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 5px;
  & *{
      background: none;
  }
}
nav ul li ul{
  display: none;
  position: relative;
}
nav> ul >.navbar-bs:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#526781;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-bs:hover {
   background-color: #67809f;
  & i{
      color:white;
  }
}
nav> ul >.navbar-it:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#286abd;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-it:hover {
   background-color: #4183d7;
  & i{
      color:white;
  }
}
nav> ul >.navbar-dm:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#25a25a;;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-dm:hover {
   background-color: #2ecc71;
  & i{
      color:white;
  }
}
nav> ul >.navbar-ts:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#bc2c28;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-ts:hover {
  background-color:#d64541;
  & i{
      color:white;
  }
}
nav> ul >.navbar-wd:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#79539a;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-wd:hover {
  background-color: #926fb1;
  & i{
      color:white;
  }
}
nav> ul >.navbar-cs:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#de093f;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-cs:hover {
   background-color: #f62459;
  & i{
      color:white;
  }
}
nav> ul >.navbar-dc:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#a3331d;
  border-radius: 0 0 8px 8px;
  margin-top: 85px;
  width: 14%;
  z-index: 2;
  & li{
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
nav ul .navbar-dc:hover {
  background-color:#ce4125;
  & i{
      color:white;
  }
}
//affects screens that are larger than 922px
@media screen and (min-width:922px){
  .container-navbar{
      display: flex;
      &>.navbar{
          display: flex;
          flex: 0 0 95%;
          &>.navbar-content{
              display: flex;
              flex-direction: column;
              justify-self: space-evenly;
              flex: 0 0 14%;
              &>*{
                  margin-left: auto;
                  margin-right: auto;
              }
          }
      }
  }
}
//affects screens that are smaller than 991px
@media screen and (max-width:991px){
  nav{
      display: none;
  }
}