.container-our-services{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.our-services-header{
    display: flex;
    align-items: center;
    &>h2{
        text-align: left;
        font-size: 3rem;
    }
    &>a{
        text-align: right;
        
        
    }
}
.our-services-content{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.item-services {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCC;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    height:325px;
    border-radius: 8px;
    text-align: center;
    
    
    & > h3{
        font-weight: 100;
    }
}

p[class*="button"]{
    padding: 10px;
    width: 150px;
    margin: 10px auto;
    border-radius: 6px;
}
.BS {
    margin: 20px auto;
    & > div{
        @include setcolors(black,$secondary-color);
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
    }
    &:hover > div{
        @include setcolors($secondary-color,$hoki);
        & > .text{
            color:white;
        }
    }
    p[class*="BS-button"]{
        //first color is set to color, 2nd is background-color
        @include setcolors($secondary-color,$hoki);
        
    }
    @include Move-up($secondary-color,$hoki);
    &:hover i[class*="BS"] {
        @include setcolors($hoki,$secondary-color);
    }
    &:hover p[class*="BS-button"]{
        @include setcolors($hoki,$secondary-color);
    }
    
}
.IT{

     margin: 20px auto;
    & > div{
        @include setcolors(black,$secondary-color);
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
    }
    &:hover > div{
        @include setcolors($secondary-color,$dodger-blue);
        & > .text{
            color:white;
        }
    }
    p[class*="IT-button"]{
        padding: 10px;
        @include setcolors($secondary-color,$dodger-blue);
    }
    @include Move-up($secondary-color,$dodger-blue);
    &:hover i[class*="IT"]{
        @include setcolors($dodger-blue,$secondary-color);
    }
    &:hover p[class*="IT-button"]{
        @include setcolors($dodger-blue,$secondary-color);
    }
}
.DM{
     margin: 20px auto;
    & > div{
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
        @include setcolors(black,$secondary-color);
    }
    &:hover > div{
        @include setcolors($secondary-color,$jade);
        & > .text{
            color:white;
        }
    }
    p[class*="DM-button"]{
        @include setcolors($secondary-color,$jade);
        padding: 10px;
    }
    @include Move-up($secondary-color,$jade);
    &:hover i[class*="DM"] {
        @include setcolors($jade,$secondary-color);
    }
    &:hover p[class*="DM-button"]{
        @include setcolors($jade,$secondary-color);
    }
}
.TS{
     margin: 20px auto;
    & > div{
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
        @include setcolors(black,$secondary-color);
    }
    &:hover > div{
        @include setcolors($secondary-color,$valencia);
        & > .text{
            color:white;
        }
    }
    p[class*="TS-button"]{
        @include setcolors($secondary-color,$valencia);
        padding: 10px;
    }
    @include Move-up($secondary-color,$valencia);
    &:hover i[class*="TS"]{
        @include setcolors($valencia,$secondary-color);
    }
    &:hover p[class*="TS-button"]{
        @include setcolors($valencia,$secondary-color);
    }
    
}
.WD{
     margin: 20px auto;
    & > div{
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
        @include setcolors(black,$secondary-color);
    }
    &:hover > div{
        @include setcolors($secondary-color,$wisteria);
        & > .text{
            color:white;
        }
    }
    p[class*="WD-button"]{
        @include setcolors($secondary-color,$wisteria);
        
    }
    @include Move-up($secondary-color,$wisteria);
    &:hover i[class*="WD"]{
        @include setcolors($wisteria,$secondary-color);
    } 
    &:hover p[class*="WD-button"]{
        @include setcolors($wisteria,$secondary-color);
    }
    
}
.CS{
     margin: 20px auto;
    & > div{
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
        @include setcolors(black,$secondary-color);
    }
    &:hover > div{
        @include setcolors($secondary-color,$radical-red);
        & > .text{
            color:white;
        }
    }
    p[class*="CS-button"]{
        @include setcolors($secondary-color,$radical-red);
        
    }
    @include Move-up($secondary-color,$radical-red);
    &:hover i[class*="CS"]{
        @include setcolors($radical-red,$secondary-color);
    }
    &:hover p[class*="CS-button"]{
        @include setcolors($radical-red,$secondary-color);
    }
    
}
.DC{
     margin: 20px auto;
    & > div{
        & > .text{
            width: 95%;
            margin: auto;
            color:grey;
        }
        @include setcolors(black,$secondary-color);
    }
    &:hover > div{
        @include setcolors($secondary-color,$valencia);
        & > .text{
            color:white;
        }
    }
    p[class*="DC-button"]{
        @include setcolors($secondary-color,$valencia);
        
    }
    @include Move-up($secondary-color,$valencia);
    &:hover i[class*="DC"]{
        @include setcolors($valencia,$secondary-color);
    }
    &:hover p[class*="DC-button"]{
        @include setcolors($valencia,$secondary-color);
    }
}
//affects screens that are  smaller than 766px
@media screen and (max-width:766px){
    .container-our-services{
        display: flex;
        flex-direction: column;
        &>.our-services-header{
            margin: 0 auto;
            width: 90%;
            & > h2{
                margin: 0;
            }
            &>a{
                display: none;
            }
        }
        &>.our-services-content{
            & > *{
                width: 90%;
            }
        }
        &>.our-services-footer{
            margin-left: 35%;
        }
    }
}
//affects screens that are larger than 767px
@media screen and (min-width:767px){
    body{
        overflow-x: hidden;
    }
    .container-our-services{
        &>.our-services-header{
            margin: 0 auto;
            width: 90%;
            & > h2{
                margin: 0;
            }
            &>a{
                margin-left: auto;
            }
        }
        &>.our-services-footer{
            &>a{
                display: none;
            }
        }
    }
}
//affects screens that are larger than 767px but smaller than 991px
@media screen and (min-width:767px) and (max-width:991px){
    .our-services-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &>*:nth-child(-n+3){
            width: 95%;
        }
        &>*:nth-child(n+4){
            width: 45%;
        }
    }
}
//affects screens that are larger than 992px but smaller than 1259px
@media screen and (min-width:992px) and (max-width:1259px) {
    .container-our-services{
        .our-services-content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &>*:nth-child(-n+3){
                width: 28%;
            }
            &>*:nth-child(n+4){
                width: 45%;
            }
        }
    }
}
//affects screens that are larger than 1260px
@media screen and (min-width:1260px){
    .container-our-services{
        .our-services-content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &>*:nth-child(-n+3){
                width: calc(33% - 30px);
            }
            &>*:nth-child(n+4){
                width: calc(25% - 40px);
            }
        }
    }
}