.container-sidebar{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 250px;
    scrollbar-width: 5px;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    text-transform: uppercase;
    & > ul{
        margin: 0;
        padding: 0;
        background-color: $primary-color;
        & > .sidebar-headers, .sidebar-contact-us {
            background-color: lighten($primary-color, 5%);
            border-top: 1px solid black;
            margin: 0;
            padding: 10px;
            
            &:hover{
                background-color: lighten($primary-color, 15%);
            }
            & > a {       
                
                margin-left: 1px;   
                color: white;
                width: 90%;  
                
            }    
        } 
        & > .sidebar-headers-navbar {
            background-color: rgba(#000, 0.25);
            border-top: 1px solid black;
            margin: 0;
            padding: 10px;
            
            &:hover{
                background-color: lighten($primary-color, 10%);
            }
            & > a {       
                
                margin-left: 1px;   
                color: white;
                width: 90%;  
                
            }    
        } 

        & > li > ul{
            margin: 0;
            padding: 0;
            & > li{
                padding: 10px;
                    margin: 0;
                    border-top: 1px solid black;
                &>a{
                    color: white;
                    width: 90%;
                    
                    &::before{
                        
                        font-size: 12px;
                        padding: 10px;
                        content: ">> ";
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px) {
    .sidebar-headers-navbar{
        text-align: center;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        & > *{
            width: 100%;
        }
    }
    .sidebar-navbar-text{
        
        font-size: 1rem;
        & > span{
            font-size: 0.8rem;
        }
    }
}
@media screen and (min-width:767px){    
    
    
    .sidebar-navbar{
        display: none;
    }
    .sidebar-contact-us{
        display: none;
    }
    .sidebar-headers-navbar {
        background-color: lighten($primary-color, 5%);
        border-top: 1px solid black;
        margin: 0;
        padding: 10px;
       
        &:hover{
            background-color: lighten($primary-color, 10%);
        }
        & > a {       
            
            margin-left: 1px;   
            color: white;
            width: 90%;  
            & > .sidebar-icons{
                display: none;
            }
            &::before{
                        
                font-size: 16px;
                content: ">> ";
            }
        }    
    } 
}